/* Main Stats */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
html {
  scroll-behavior: smooth;
}
.main-head {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
  z-index: 100;
}
.main-head h1 {
  font-size: 60px;
}
svg {
  width: 50px;
}
@media (max-width: 700px) {
  .main-head h1 {
    font-size: 40px;
  }
}
/* Nav Bar */
nav {
  position: fixed;
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  z-index: 10;
}
nav h1 {
  font-size: 60px;
  font-weight: bold;
  background-image: url("image/logo.jpg");
  background-size: cover;
  background-position: center;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  transition: 1s;
}
nav .links {
  display: flex;
  list-style: none;
  gap: 20px;
  align-items: center;
  justify-content: flex-end;
}
nav .links a {
  text-decoration: none;
  font-size: 20px;
  color: white;
}
nav .links li {
  position: relative;
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px solid rgba(255, 255, 255, 0.2);
  padding: 10px 20px;
  transition: 0.5s;
  border-radius: 15px;
}
nav .links li:hover {
  transform: translateY(-10px);
}
nav .hid-links {
  display: none;
}
nav .hid-links:hover ~ .links {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
  flex-direction: column;
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100vh;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px solid rgba(255, 255, 255, 0.2);
}
@media (max-width: 768px) {
  nav .links {
    display: none;
  }
  nav .links li {
    background-color: transparent;
  }
  nav .links li:hover {
    transform: translateX(20px);
  }
  nav .hid-links {
    display: block;
  }
}
@media (max-width: 600px) {
  nav {
    padding: 10px;
  }
  nav h1 {
    font-size: 40px;
  }
}
/* Section Home */
.home {
  padding: 50px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  background-image: url("image/home.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.home .text-info {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  flex-basis: 40%;
  color: white;
}
.home .links-go {
  display: flex;
  gap: 30px;
}
.home .links-go a {
  text-decoration: none;
  padding: 15px 30px;
  background-color: rgba(96, 3, 227, 0.928);
  border-radius: 10px;
  color: #eee;
  font-size: 20px;
  transition: 0.3s;
}
.home .links-go a:hover {
  transform: scale(1.1);
  box-shadow: 0px 0 10px 3px #0958ebcc;
}
@media (max-width: 768px) {
  .home {
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    align-items: center;
  }
  .home .links-go {
    flex-direction: column;
  }
}
/* Section Heros */
.hero {
  padding: 20px 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0.5)
  );
  color: white;
}
.hero .container {
  margin: 20px auto;
  width: 95%;
  height: 100%;
  padding: 20px;
  gap: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}
.hero .container .card {
  position: relative;
}
.hero .container .card .back {
  border-radius: 20px;
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: 0.5s;
}
.hero .container .card .info-txet {
  position: absolute;
  padding: 15px;
  border-radius: 20px;
  bottom: 10px;
  transition: 0.5s;
  opacity: 0;
  display: flex;
  gap: 10px;
  flex-direction: column;
}
.hero .container .card:hover .back {
  filter: blur(5px);
}
.hero .container .card:hover .info-txet {
  bottom: 0;
  opacity: 1;
  z-index: 1;
}
.hero .container .card:nth-child(1) .back {
  background-image: url("image/venom.jpg");
}
.hero .container .card:nth-child(2) .back {
  background-image: url("image/demon.jpg");
}
.hero .container .card:nth-child(3) .back {
  background-image: url("image/skilton.jpg");
}
.hero .container .card:nth-child(4) .back {
  background-image: url("image/shadow.jpg");
}
.hero .container .card:nth-child(5) .back {
  background-image: url("image/sung.jpg");
}
.hero .container .card:nth-child(6) .back {
  background-image: url("image/Fire.jpg");
}
.hero .container .card:nth-child(7) .back {
  background-image: url("image/avanger.jpg");
}
.hero .info {
  padding: 12px 25px;
  border-radius: 10px;
  transition: 0.3s;
  background-color: rgba(255, 255, 255, 0.3);
  color: white;
  text-decoration: none;
  font-size: 18px;
}
.hero .info:hover {
  transform: scale(1.1);
}
@media (max-width: 768px) {
  .hero .container {
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  }
  .hero .container .card .info-txet {
    font-size: 10px;
    padding: 10px;
  }
}
